body { background-color: #fffef3 }

nav.main { 
    position: fixed; 
    right: 5%; 
    text-align: right; 
    font-size: 1em; 
    font-style: italic; 
    color: #ffb5dc; 
    background-color: #fffef3; 
    z-index: 1; 
    padding: 0.25em; 
    border-radius: 10px; 
    max-width: 85%; }

header.main { margin-top: 2.8em; }
header.main .sub { 
    color: #f1c8de; 
    font-size: 1.2em; }
header.main h1 { 
    margin-top: 20px;  
    margin-left: 10px; 
    color: #7fa3cb; 
    /*font-size: 4.8rem; 
    font-family: "Press Start 2P"; 
    letter-spacing: 2px;*/ }
header.main h1 img { max-height: 52px; max-width: 100%; }

@media (min-width: 550px) {
    nav.main { font-size: 1.2em; }    
    header.main h1 { margin-left: 70px; }
    header.main  { margin-top: 1.8em; } }

.outer-container { 
    padding: 2rem; 
    min-height: 100vh; 
    border: solid #282828 1rem; 
    padding-top: 0;}
    
@media (min-width: 550px) { .outer-container { padding-top: 2rem; } }

hr.divider { border: solid #f1c8de 8px }

p.intro { font-size: 3.2rem; color: #e68fbd }
@media (min-width: 400px) { p.intro { font-size: 4rem; } }
@media (min-width: 750px) { p.intro { font-size: 5rem; } }

.bla {font-size: 50px; text-align: center; padding-right: 0; color: #f1c8de}
.bla i { margin: 0 10px; }

@media (min-width: 550px) {
    section.intro { width: 90%; }
    .bla { padding-top: 50px; text-align: right; font-size: 60px } }
@media (min-width: 750px) { .bla { font-size: 80px; } }
    
.contact { text-align: center; font-size: 1.2em; padding: 0.5em; width: 100%; margin-left: -20px; }
.contact a { margin: 0 1em; }
@media (min-width: 750px) { .contact { font-size: 1.5em } }

.worklist h1 { font-size: 3.4rem; color: #79616e; clear: left; }
.worklist h2 { font-size: 3.4rem; margin-bottom: 0; }
.worklist .blurb { margin-bottom: 0; }
.worklist .excerpt { font-style: italic; color: #bca6ae; }

@media (max-width: 550px) {
    .worklist { font-size:0.8em; }
    .worklist h2 { font-size: 2.8rem; }
}


.lang { text-align: right; margin-right: 10%; float: right; }
.lang a { color: #F1C8DE; cursor: pointer; }
.lang a:hover { color: #aec5db; }
.lang a.selected { color: #8ab7e4; }

span.skills {
    color: #8ab7e4;
    border-bottom: solid;
    padding: 0.1em;
    border-radius: 8px;
    padding: 0 0.2em;
    line-height: 1.4;
}

.text { max-width: 800px; }
.text h1 { color: #aec5db; font-size: 4.8rem; }
.text p {font-family: Lato, Arial, sans-serif; font-size: 0.8em; }

