:root {
  --color-bg: #fff;
  --color-text: #000;
  --color-outlink: #CB3834;
  --color-header: #353E49;

  --color-blue: #7DC4ED;
  --color-red: #E88B9C;
  --color-green: #63ACA1;
  --color-yellow: #E0C581;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
}
a { 
  color: var(--color-outlink);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
}
main {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}
.boundary {
  width: 100%;
  height: 55px;
  background-color: var(--color-header);
  display: flex;
  align-items: center;
}
.boundary.bottom {
    margin-top: 74px;
  }
@media(max-width: 1000px) {
.boundary.top {
      position: sticky;
      top: 0;
  }
    }
.boundary .nav-opener {
    border: none;
    background: none;

    display: flex;
    column-gap: 5px;
    font-size: 24px;
    font-weight: 700;
    font-variant: small-caps;
    align-items: center;

    margin-left: auto;
    margin-right: 15px;

    color: rgba(255, 255, 255, 0.5);

    border-bottom: solid 1px #000;
    border-radius: 6px;
    padding: 4px 8px;
  }
.boundary .nav-opener:active {
      border: none;
    }
@media(min-width: 1000px) {
.boundary .nav-opener {
      display: none;
  }
    }
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer aside {
    color: #fff;
    opacity: 0.5;
  }
main {
  margin-top: 110px;
}
.index {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 33px;
  padding: 0 26px;
  box-sizing: border-box;
}
@media(min-width: 1000px) {
.index {
    margin-top: 133px;
    grid-template-columns: 596px 1fr;
}
  }
/**** Positioning ****/
@media(min-width: 1000px) {
.index h1 {
      grid-column: span 2;
  }
    }
@media(min-width: 1000px) {
.index .text {
      grid-row: 2 / span 1;
  }
    }
@media(min-width: 1000px) {
.index nav {
      grid-row: 3 / span 1;
  }
    }
.index .geometric {
    grid-row: 1;
  }
@media(min-width: 1000px) {
.index .geometric {
      grid-row: 2;
  }
    }
/**** Positioning End ****/
.index h1 {
    font-weight: 700;
    font-size: 2.75rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
@media(min-width: 1000px) {
.index h1 {
      font-size: 96px;
      margin-bottom: 16px;
  }
    }
.index .text .line1 {
      font-weight: 600;
      font-size: 1.125rem;
      margin: 0;
    }
@media(min-width: 1000px) {
.index .text .line1 {
        font-size: 40px;
    }
      }
.index .text .line2 {
      font-size: 1rem;
      margin-top: 0.8rem;
    }
@media(min-width: 1000px) {
.index .text .line2 {
        font-size: 32px;
        margin-top: 29px;
    }
      }
.index nav {
    font-variant: small-caps;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.8em;
    row-gap: 4px;
  }
@media(min-width: 1000px) {
.index nav {
      row-gap: 12px;
      font-size: 40px;
  }
    }
.index nav a {
      color: inherit;
      text-decoration: none;
      transition: transform 0.2s cubic-bezier(0.61, 1, 0.88, 1);
    }
.index nav a:nth-child(1) {
        color: var(--color-red);
      }
.index nav a:nth-child(2) {
        color: var(--color-green);
      }
.index nav a:nth-child(3) {
        color: var(--color-blue);
      }
.index nav a:nth-child(4) {
        color: var(--color-yellow);
      }
.index nav a:hover {
          transform: translate(24px, 0);
        }
.index .geometric {
    display: flex;
    flex-direction: column;

    /** Mobile **/
    align-items: flex-start;
    row-gap: 13px; 
    margin-bottom: 26px;
  }
.index .geometric * {
      height: 16px;
      width: 145px;
      transition: transform 0.8s cubic-bezier(0.37, 0, 0.63, 1);
    }
/** Mobile End **/
@media(min-width: 1000px) {
.index .geometric {
      align-items: flex-end;
      row-gap: 21px;
      margin-bottom: 0;
  }

      .index .geometric * {
        height: 32px;
        width: 297px;
      }
    }
.index .geometric *:nth-child(1) {
      width: 145px;
      background-color: var(--color-green);
    }
@media(min-width: 1000px) {
.index .geometric *:nth-child(1) { width: 297px;
    } }
.index .geometric *:nth-child(2) {
      width: 182px;
      background-color: var(--color-blue);
    }
@media(min-width: 1000px) {
.index .geometric *:nth-child(2) { 
        width: 297px; 
        margin-right: 47px;
    }
      }
.index .geometric *:nth-child(3) {
      width: 157px;
      background-color: var(--color-yellow);
    }
@media(min-width: 1000px) {
.index .geometric *:nth-child(3) { width: 297px;
    } }
.index .geometric *:nth-child(4) {
      width: 136px;
      background-color: var(--color-red);
    }
@media(min-width: 1000px) {
.index .geometric *:nth-child(4) { width: 399px;
    } }
.index .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 8px;

    font-variant: small-caps;
    font-weight: 600;
    font-size: 1.25em;

    margin-top: 19px;
  }
.index .contact a {
      display: flex;
      align-items: center;
      column-gap: 12px;
      letter-spacing: 0.012em;
    }
@media(min-width: 1000px) {
.index .contact {
      row-gap: 30px;
      font-size: 2em;
      margin-top: 0;
  }

      .index .contact a {
        column-gap: 23px;
      }
    }
.bignav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 67px;

  font-weight: 600;
  font-variant: small-caps;
  font-size: 40px;
  row-gap: 18px;
}
@media(max-width: 1000px) {
.bignav {
    align-items: center;
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    right: 0;
    left: 0;
    bottom: 0;
    top: 55px;
    margin-bottom: 0;
    padding-top: 62px;
    display: none;

    overflow-y: auto;
}
  }
@media(max-width: 1000px) {
.bignav.open {
      display: flex;
  }
    }
.bignav h1 {
    font-weight: 700;
    font-size: 96px;
    color: #000;
    opacity: 0.2;
    margin: 0;
  }
@media(max-width: 1000px) {
.bignav h1 {
      display: none;
  }
    }
@media(min-width: 1000px) {
    .bignav a {
      transition: padding-right 0.5s cubic-bezier(0.61, 1, 0.88, 1);
    }

      .bignav a:hover {
        padding-right: 70px;
        text-decoration: none;
      }

    .bignav > a:nth-of-type(1) {
      margin-right: 72px;
    }
    .bignav > a:nth-of-type(3) {
      margin-right: 53px;
    }
  }
.bignav a.white { color: #ccc; }
.bignav a.red { color: var(--color-red); }
.bignav a.green { color: var(--color-green); }
.bignav a.blue { color: var(--color-blue); }
.bignav a.yellow { color: var(--color-yellow); }
.bignav .divisional { 
    margin-top: 68px;
    max-width: 307px;
    color: var(--page-color); 
    text-align: right;

    top: 68px;
    position: sticky;
  }
.bignav .divisional a {
      display: block;
      color: var(--page-color); 
      margin-bottom: 49px;
    }
@media(max-width: 1000px) {
.bignav .divisional {
      text-align: center;
      margin-top: 12px;
  }

      .bignav .divisional a {
        margin-bottom: 12px;
      }
    }
.jobpage {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 26px;
  box-sizing: border-box;

  row-gap: 32px;

  --link-color: var(--page-color);
}
@media(min-width: 1000px) {
.jobpage {
    row-gap: initial;
    padding: 0;
    margin-top: 110px;
    grid-template-columns: 654px 1fr;
}
  }
/*** Color ***/
.jobpage.red { --page-color: var(--color-red); }
.jobpage.green { --page-color: var(--color-green); }
.jobpage.blue { --page-color: var(--color-blue); }
.jobpage.yellow { --page-color: var(--color-yellow); }
.jobpage.blue { --link-color: #45A1D7; }
.jobpage.yellow { --link-color: #DBAC37; }
/*** End Color ***/
/*** Grid Position ***/
@media(min-width: 1000px) {
    .jobpage .bignav {
      grid-column: 2;
    }

    .jobpage article {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    .jobpage .job-aside {
      grid-column: 2;
      grid-row: 2;
    }

    .jobpage .portfolios.coding {
      grid-column: 1 / -1;
      margin-top: 100px;
    }
  }
/*** End Grid Positioning ***/
.jobpage article a {
      color: var(--link-color);
    }
.jobpage article .divider {
      width: 60%;
      height: 32px;
      background-color: var(--page-color);
    }
.jobpage article h1 {
      font-size: 2em;
      font-weight: 700;
    }
.jobpage article > p {
      max-width: 532px;
    }
.jobpage .job-aside {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: flex-end;
    text-align: right;
    font-weight: 600;
  }
.jobpage .job-aside > * {
      max-width: 286px;
    }
.jobpage .job-aside h2 {
      color: var(--page-color);
      font-size: 1.5rem;
      margin: 0;
      font-weight: 600;
    }
@media(min-width: 1000px) {
.jobpage .job-aside h2 {
        font-size: 36px;
    }
      }
.jobpage .job-aside.liststyle h2 {
      text-transform: lowercase;
    }
.jobpage .job-aside p:first-of-type {
      margin-top: 0;
    }
.jobpage .job-aside p:last-child {
      margin-bottom: 0;
    }
.jobpage .job-aside .heightened {
      font-size: 36px;
    }
.jobpage .inpage-nav {
    margin-top: 70px;
    font-size: 36px;
    font-variant: small-caps;
    font-weight: 700;
  }
.jobpage .inpage-nav a {
      display: block;
      margin-bottom: 1em;
      color: var(--page-color);
    }
article.longsingle img {
    max-width: 100%;
  }
article.longsingle *:not(h1, h2) {
    font-family: 'Source Serif 4', serif;
    font-weight: 400;
    line-height: 149%;
  }
article.longsingle hr {
    border: 0;
    height: 4px;
    background-color: var(--page-color);
    width: 60%;
    margin: 2.5em auto;
  }
article.longsingle h1 {
    margin-bottom: 0;
  }
article.longsingle h2 {
    margin-top: 0;
    font-size: 1.2em;
  }
article.longsingle > p {
    max-width: initial;
  }
article.linktree ol {
    list-style: none;
    padding: 0 1em;
  }
article.linktree li {
    display: block;
  }
article.linktree li h2 {
      margin-bottom: 0;
      font-weight: 600;
      overflow-wrap: anywhere;
    }
:is(article.linktree li) h2 + p {
      margin-top: 0.2em;
    }
.main-content .portfolios {
  margin-top: 3em;
}
@media(min-width: 1000px) {
.main-content .portfolios {
    margin-top: 80px;
}

    .main-content .portfolios > *:not(h2) {
        margin-left: 30px;
    }
  }
.main-content .portfolios h3 {
    font-size: 1.3em;
    margin-bottom: 0.3em;
    font-weight: 600;
  }
:is(.main-content .portfolios) h3 + p {
    margin-top: 0;
  }
.portfolios > h2 {
    box-sizing: border-box;
    border-left: solid 12px var(--page-color);
    padding-left: 18px;
    margin: 0;
    font-weight: 700;
    font-size: 2em;
  }
@media(min-width: 1000px) {
.portfolios > h2 {
      font-size: 40px;
  }
    }
.portfolios img {
      max-width: 100%;
  }
.portfolios h2:not(h2:first-child) {
    margin-top: 1.5em;
  }
.story-excerpt {
  font-style: italic;
  margin-top: 0;
}
@media(min-width: 1000px) {
.portfolios.coding > * {
      grid-template-columns: 654px 1fr;
      margin-left: 24px;
      display: grid;
  }
    }
.portfolios.coding > * h3 {
      font-size: 1.8em;
      font-weight: 600;
      margin-bottom: 0;
    }
.portfolios.coding > * h4 {
      margin-bottom: 0.3em;
    }
.portfolios.coding > * .description {
      max-width: 540px;
    }
@media(min-width: 1000px) {
.portfolios.coding > * .description {
        grid-column: 1;
    }
      }
:is(.portfolios.coding > * .description) h4 + p {
        margin-top: 0;
      }
.portfolios.coding > * .extradata {
      box-sizing: border-box;
      align-self: start;
      padding-bottom: 40px;
    }
@media(min-width: 1000px) {
.portfolios.coding > * .extradata {
        grid-column: 2;
        grid-row: 2;

        border-left: solid 8px var(--page-color);
        padding-left: 51px;
    }
      }
